body {
  font-size: 100%;
  color: #000;
  font-family: Arial, Helvetica, sans-serif
}

.main {
  display:flex;
  align-items: stretch;
  align-content: stretch;
}

.calc {
  border:solid 1px grey;
}

.number, .period {
}


.number-board {
}

.delete-board {
}

.clear-number-string-board {
}


.operator {
}

.operator-board {
  
}

.bracket {
}

.bracket-board {  
}