body {
  font-size: 100%;
  color: #000;
  font-family: Arial, Helvetica, sans-serif
}


.number, .period {
}


.number-board {
}

.delete-board {
}

.clear-number-string-board {
}


.operator {
}

.operator-board {
  
}

.bracket {
}

.bracket-board {  
}